<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- 完全禁用沙盒 -->
    <key>com.apple.security.app-sandbox</key>
    <false/>

    <!-- 允许访问文件 -->
    <key>com.apple.security.files.user-selected.read-write</key>
    <true/>

    <!-- 允许访问用户目录 -->
    <key>com.apple.security.temporary-exception.files.home-relative-path.read-write</key>
    <array>
        <string>/Library/</string>
        <string>/Library/Group Containers/</string>
    </array>

    <!-- 禁用库验证 -->
    <key>com.apple.security.cs.disable-library-validation</key>
    <true/>

    <!-- 允许 DYLD 环境变量 -->
    <key>com.apple.security.cs.allow-dyld-environment-variables</key>
    <true/>
</dict>
</plist>
