<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NeoJ's Web Page[建新的Blog]</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="a.css">
    <script src="crt-simulator.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-web/style.css" />
    <meta name="keywords" content="建新的Blog,github.com/uk0,SEO" />
    <meta name="description" content="这是一个关于建新的个人网站的博客页面。" />
</head>

<body>
<header>
    <nav>
        <table width="620" border="1" class="center">
            <tbody>
            <tr>
                <td width="64" rowspan="2">
                    <img src="avatar.png" width="64">
                </td>
                <td align="center" colspan="5">
                    <font size="5"><b><font color="#008000">NeoJ</font>'s Web Page</b></font>
                </td>
                <td width="100" align="center" rowspan="2">
                    Last Update:<br> {{.Now}}
                </td>
            </tr>
            <tr>
                <td align="center" width="82">
                    <a href="./">Index</a>
                </td>
                <td class="active" align="center" width="82">
                    <a href="./">Blog</a>
                </td>
                <td align="center" width="82">
                    <a href="https://github.com/uk0">Projects</a>
                </td>
                <td align="center" width="82">
                    <a href="https://github.com/uk0">GitHub</a>
                </td>
                <td align="center" width="82">
                    <a href="about.html">About</a>
                </td>
            </tr>
            </tbody>
        </table>
    </nav>
</header>

{{ range .Categories }}
{{ $year := "" }}
{{ range .Posts }}
{{ $postYear := .Date.Format "2006" }}
{{ if ne $year $postYear }}
{{ if ne $year "" }}
</tbody>
</table>
{{ end }}
{{ $year = $postYear }}
<h4 class="text_center">{{.Category}}/{{ $year }} </h4>
<table width="620" border="1" class="content center">
    <tbody>
    {{ end }}
    <tr>
        <td width="58">{{ .Date.Format "1/2/06" }}</td>
        <td><a href="{{ .File }}">{{ .Title }} </a></td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}

<footer>
    <div class="footer center text_center">
        <p><font size="2">Website is best viewed in 800x600 or higher equivalent resolution.</font></p>
        <hr>
        <p><img src="CC-BY-SA.png" height="31">&nbsp;<img src="linuxnow.gif">&nbsp;<img src="anybrowser.gif"></p>
        <p><font size="2">Copyright © 2015-2025 Jianxin Zhang. All rights reserved.<br>
            Unless otherwise noted, content on this site is licensed under CC BY 4.0.</font></p>
    </div>
</footer>
<script>
    // Check if already authenticated on load
    window.addEventListener('load', function() {
        crt_style();
    });

    function crt_style(){
        // 开启CRT效果
        CRT.on()

        // 使用游戏预设
        CRT.preset('fw900-gaming')

        // 调整参数
        CRT.adjust('scanlineIntensity', 0.2)

        // 查看状态
        CRT.status()
    }
</script>
</body>
</html>