<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NeoJ's Web Page[下水鱼的Blog]</title>
    <meta property="og:title" content="NeoJ's Web Page[下水鱼的Blog]" />
    <meta property="og:description" content="张下水鱼的个人网络日志,一个年轻的老派工程师" />
    <meta property="og:image" content="https://firsh.me/logo.png" />
    <meta property="og:url" content="https://firsh.me" />
    <meta property="og:type" content="site" />
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="a.css">
    <script src="/crt-simulator.js"></script>
    <script src="/wb.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-web/style.css"/>
    <meta name="keywords" content="下水鱼的Blog,github.com/uk0,SEO"/>
    <meta name="description" content="这是一个关于下水鱼的个人网站的博客页面。Github.com/uk0"/>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3969253077255521"
            crossorigin="anonymous"></script>
</head>

<body>
<header>
    <nav>
        <table width="620" border="1" class="center">
            <tbody>
            <tr>
                <td width="64" rowspan="2">
                    <img src="avatar.png" width="64">
                </td>
                <td align="center" colspan="5">
                    <font size="5"><b><font color="#008000">NeoJ</font>'s Web Page</b></font>
                </td>
                <td width="100" align="center" rowspan="2">
                    Last Update:<br> {{.Now}}
                </td>
            </tr>
            <tr>
                <td align="center" width="82"><a href="./">Index</a></td>
                <td class="active" align="center" width="82"><a href="./">Blog</a></td>
                <td align="center" width="82"><a href="https://github.com/uk0">Projects</a></td>
                <td align="center" width="82"><a href="https://github.com/uk0">GitHub</a></td>
                <td align="center" width="82"><a href="about.html">About</a></td>
            </tr>
            </tbody>
        </table>
    </nav>
</header>

<!-- ✅ 新增主容器结构 -->
<div class="main-container">
    <div class="content-area">
        {{ range .Categories }}
        {{ $year := "" }}
        {{ range .Posts }}
        {{ $postYear := .Date.Format "2006" }}
        {{ if ne $year $postYear }}
        {{ if ne $year "" }}
        </tbody></table>
        {{ end }}
        {{ $year = $postYear }}
        <h4 class="text_center">{{.Category}}/{{ $year }}</h4>
        <table width="620" border="1" class="content center">
            <tbody>
            {{ end }}
            <tr>
                <td width="58">{{ .Date.Format "1/2/06" }}</td>
                <td><a href="{{ .File }}">{{ .Title }}</a></td>
            </tr>
            {{ end }}
            </tbody>
        </table>
        {{ end }}
    </div>

    <!-- ✅ 新增右侧广告栏 -->
    <aside class="sidebar">
        <div class="ad-box">
            <a href="https://bandwagonhost.com/aff.php?aff=79809">
                <p class="ad-title">立即购买：搬瓦工CN2GIA服务器</p>
                <img src="/ad/bwg.png" alt="搬瓦工" class="ad-img">
            </a>
        </div>
        <div class="ad-box">
            <a href="https://www.dmit.io/aff.php?aff=13260">
                <p class="ad-title">立即购买：DMIT-CN2GIA服务器</p>
                <img src="/ad/dmit.png" alt="DMIT" class="ad-img">
            </a>
        </div>
        <div class="ad-box">
            <a href="https://app.vmiss.com/aff.php?aff=3276">
                <p class="ad-title">立即购买：VMISS-服务器</p>
                <img src="/ad/vmiss.png" alt="vmiss" class="ad-img">
            </a>
        </div>
    </aside>
</div>

<footer>
    <div class="footer center text_center">
        <p><font size="2">Website is best viewed in 800x600 or higher equivalent resolution.</font></p>
        <hr>
        <p><img src="CC-BY-SA.png" height="31">&nbsp;<img src="linuxnow.gif">&nbsp;<img src="anybrowser.gif"></p>
        <p><font size="2">Copyright © 2015-2025 Jianxin Zhang. All rights reserved.<br>
            Unless otherwise noted, content on this site is licensed under CC BY 4.0.</font></p>
    </div>
</footer>
</body>
</html>